# SPDX-License-Identifier: CC-BY-SA-4.0
# SPDX-FileCopyrightText: Michael Terry

[Desktop Entry]
Name[af]=Rugsteune
Name[ar]=النسخ الاحتياطي
Name[ast]=Copies de seguridá
Name[be]=Рэзервовыя копіі
Name[bg]=Резервни копия
Name[bs]=Sigurnosne kopije
Name[ca]=Còpies de seguretat
Name[ca@valencia]=Còpies de seguretat
Name[ckb]=پاڵپشتییەکان
Name[cs]=Zálohy
Name[da]=Sikkerhedskopieringer
Name[de]=Datensicherungen
Name[el]=Αντίγραφα ασφαλείας
Name[en_AU]=Backups
Name[en_CA]=Backups
Name[en_GB]=Backups
Name[eo]=Sekurkopioj
Name[es]=Respaldos
Name[eu]=Babeskopiak
Name[fa]=پشتیبان‌ها
Name[fi]=Varmuuskopiot
Name[fr]=Sauvegardes
Name[fur]=Backups
Name[gd]=Lethbhreacan-glèidhidh
Name[gl]=Copias de respaldo
Name[he]=גיבויים
Name[hi]=Backups
Name[hr]=Sigurnosno kopiranje
Name[hu]=Biztonsági mentések
Name[id]=Cadangan
Name[ie]=Archives
Name[it]=Backup
Name[ja]=バックアップ
Name[ka]=მარქაფები
Name[km]=បម្រុង​ទុក
Name[ko]=백업
Name[lt]=Atsarginės kopijos
Name[lv]=Rezerves kopijas
Name[mnw]=ဂိုၚ်စွံလဝ်ဂမၠိုၚ်
Name[mr]=बॅकअप
Name[ms]=Sandar
Name[nb]=Déjà Dup
Name[nl]=Back-ups
Name[oc]=Salvaments
Name[pl]=Kopie zapasowe
Name[pt]=Backups
Name[pt_BR]=Backups
Name[ro]=Copii de siguranță
Name[ru]=Резервные копии
Name[sk]=Zálohy
Name[sl]=Varnostne kopije
Name[sq]=Backups
Name[sr]=Резерве
Name[sv]=Säkerhetskopior
Name[szl]=Kopije ibryczne
Name[th]=การสำรองข้อมูล
Name[tr]=Yedekler
Name[uk]=Резервні копії
Name[vi]=Sao lưu dự phòng
Name[zh_CN]=备份
Name[zh_TW]=備份
Name=Backups
Comment[be]=Абараніце сябе ад страты даных
Comment[bg]=Защитете се от загуба на данни
Comment[ca]=Protegiu-vos de la pèrdua de dades
Comment[cs]=Chraňte se před ztrátou dat
Comment[da]=Beskyt dig selv mod tab af data
Comment[de]=Schützen Sie sich vor Datenverlust
Comment[en_GB]=Protect yourself from data loss
Comment[es]=Protéjase frente a las pérdidas de datos
Comment[eu]=Babestu zure datuak, ez daitezela galdu
Comment[fa]=خود را از خطر از دست دادن پرونده‌هایتان ایمن کنید
Comment[fi]=Suojaa itsesi tietojen menetykseltä
Comment[fr]=Protégez-vous contre la perte de données
Comment[fur]=Proteziti da lis pierditis di dâts
Comment[gl]=Protéxase das perdas de datos
Comment[he]=הגנה מאיבוד המידע שלך
Comment[hi]=डेटा हानि से स्वयं को सुरक्षित रखें
Comment[hr]=Zaštitite se od gubitka podataka
Comment[hu]=Védje meg magát az adatvesztés ellen
Comment[id]=Lindungi dirimu dari kehilangan data
Comment[ie]=Protecte vos contra perde de data
Comment[it]=Proteggersi dalla perdita di dati
Comment[ja]=データ損失からあなたを守ります
Comment[ka]=დაიცავით თავი მონაცემების დაკარგვისგან
Comment[ko]=데이터 손실을 막아줍니다
Comment[nb]=Vern om filene dine
Comment[nl]=Bescherm uzelf tegen gegevensverlies
Comment[oc]=Protegissètz-vos de las pèrdas de donadas
Comment[pl]=Chroń się przed utratą danych
Comment[pt]=Proteja-se da perda de dados
Comment[pt_BR]=Proteja-se contra perda de dados
Comment[ro]=Protejați-vă de pierderile de date
Comment[ru]=Защитите себя от потери данных
Comment[sk]=Ochráňte sa pred stratou údajov
Comment[sl]=Zaščitite se pred izgubo podatkov
Comment[sr]=Заштитите се од губитка података
Comment[sv]=Skydda dig själv från dataförlust
Comment[tr]=Kendinizi veri yitiminden koruyun
Comment[uk]=Захистіть себе від втрати даних
Comment[vi]=Bảo vệ bản thân bạn không bị mất dữ liệu
Comment[zh_CN]=保护您免受数据丢失困扰
Comment[zh_TW]=保護您的資料不流失
Comment=Protect yourself from data loss

Icon=org.gnome.DejaDup

Exec=deja-dup %u

StartupNotify=true
DBusActivatable=true

# Switch this to SingleMainWindow once xdg-desktop-utils 0.27 is released & in the SDK
X-GNOME-SingleWindow=true

Type=Application

# The MetaInfo file reads them from desktop file
Categories=Utility;Archiving;

# Used for oauth flows (server redirects to this custom scheme and we catch it)
MimeType=x-scheme-handler/com.googleusercontent.apps.916137916439-evn6skqan91m96fmsskk8102e3iepv22;x-scheme-handler/msal5291592c-3c09-44fb-a275-5027aa238645;

# These keywords are used when searching for applications in dashes, etc.
# Keep the English keywords and add your own keywords in your language, separated by semicolons.
Keywords[be]=déjà;deja;dup;archive;archiving;backup;backups;back up;рэзерваванне;рэзервовае;капіяванне;капіраванне;рэзервовая;копія;архіваванне;архіў;
Keywords[bg]=архив;архивиране;резерва;резерви;бекъп;déjà;deja;dup;
Keywords[ca]=déjà;deja;dup;arxiu;arxivar;còpia de seguretat;còpies de seguretat;copiar;
Keywords[cs]=déjà;deja;dup;archiv;archivace;záloha;zálohy;zálohovat;
Keywords[da]=déjà;deja;dup;arkiv;arkivering;backup;sikkerhedskopi;
Keywords[de]=déjà;deja;dup;archive;archiving;backup;backups;back up;Deja;Dup;Archiv;archivieren;Datensicherung;Backup;Back-up;
Keywords[en_GB]=déjà;deja;dup;archive;archiving;backup;backups;back up;
Keywords[es]=déjà;deja;dup;archive;archiving;backup;backups;back up;archivo;respaldo;respaldos;copia de seguridad
Keywords[eu]=déjà;deja;dup;artxiboa;artxibatzea;babeskopia;babeskopiak;babes-kopia;
Keywords[fa]=déjà;deja;dup;archive;archiving;backup;backups;back up;دژا;داپ;بایگانی;پشتیبان;بکاپ;بک‌آپ;
Keywords[fi]=déjà;deja;dup;archive;archiving;backup;backups;back up;varmuuskopio;varmistus;
Keywords[he]=déjà;deja;dup;גיבויים;ארכיון;גיבוי;לגבות;
Keywords[hi]=déjà;deja;dup;पुरालेख;संग्रह;बैकअप;बैकअप;बैक अप;
Keywords[hu]=déjà;deja;dup;archívum;archiválás;biztonsági mentés;
Keywords[ka]=déjà;deja;dup;archive;archiving;backup;backups;back up;მარქაფი;არქივი;
Keywords[nb]=sikkerhetskopiering;backups;arkivering;duplicity;
Keywords[pt_BR]=déjà;deja;dup;arquivo;arquivamento;backup;backups;back up;
Keywords[ro]=déjà;deja;dup;archive;archiving;backup;backups;back up;arhivă;arhivare;copie de rezervă;copii de rezervă;
Keywords[ru]=déjà;deja;dup;archive;archiving;backup;backups;back up;архив;копия;резервная;
Keywords[sl]=déjà;deja;dup;arhiv;arhiviranje;backup;kopije;kopija;varnostno kopiranje;varnostna;
Keywords[sv]=déjà;deja;dup;arkiv;arkivering;backup;säkerhetskopia;säkerhetskopiera;säkerhetskopior;
Keywords[tr]=déjà;deja;dup;archive;archiving;backup;backups;back up;arşiv;arşivleme;yedek;yedekle;yedekleme;
Keywords[uk]=déjà;deja;dup;archive;archiving;backup;backups;back up;дежа;дап;архів;архівування;резервне;копіювання;
Keywords[zh_CN]=déjà;deja;dup;archive;archiving;backup;backups;back up;归档;备份;
Keywords=déjà;deja;dup;archive;archiving;backup;backups;back up;

X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;

Actions=backup;

[Desktop Action backup]
Name[af]=Rugsteun
Name[ar]=خُذ نسخة احتياطية
Name[ast]=Facer copia de seguridá
Name[be]=Стварыць рэзервовую копію
Name[bg]=Резервно копиране
Name[bs]=Napravi rezervnu kopiju
Name[ca]=Fes una còpia de seguretat
Name[ca@valencia]=Fes una còpia de seguretat
Name[ckb]=پاڵپشتی بکە
Name[cs]=Zálohovat
Name[da]=Sikkerhedskopiér
Name[de]=Sichern
Name[el]=Αντίγραφο ασφαλείας
Name[en_AU]=Back Up
Name[en_CA]=Back Up
Name[en_GB]=Backup
Name[eo]=Sekurkopio
Name[es]=Respaldar
Name[eu]=Babeskopia
Name[fa]=پشتیبان‌گیری
Name[fi]=Varmuuskopiointi
Name[fr]=Sauvegarder
Name[fur]=Fâs il backup
Name[gd]=Dèan lethbhreac-glèidhidh
Name[gl]=Facer copia de respaldo
Name[he]=גיבוי
Name[hi]=बैक अप
Name[hr]=Sigurnosno kopiraj
Name[hu]=Biztonsági mentés
Name[id]=Buat Cadangan
Name[ie]=Archivar
Name[it]=Backup
Name[ja]=バックアップ
Name[ka]=მარქაფი
Name[km]=បម្រុងទុក
Name[ko]=백업
Name[lt]=Padaryti atsarginę kopiją
Name[lv]=Dublēt
Name[mnw]=ကလေၚ်စဴ
Name[mr]=बॅकअप घ्या
Name[ms]=Sandar
Name[nb]=Sikkerhetskopier
Name[nl]=Back-up maken
Name[oc]=Salvar
Name[pl]=Wykonaj kopię zapasową
Name[pt]=Efetuar _Backup
Name[pt_BR]=Backup
Name[ro]=Copie de siguranță
Name[ru]=Создать резервную копию
Name[sk]=Zálohovať
Name[sl]=Ustvari varnostno kopijo
Name[sq]=Ruaj
Name[sr]=Направи резерву
Name[sv]=Säkerhetskopiera
Name[szl]=Wykōnej kopijo ibryczno
Name[th]=สำรองข้อมูล
Name[tr]=Yedekle
Name[uk]=Резервна копія
Name[vi]=Sao lưu dự phòng
Name[zh_CN]=备份
Name[zh_TW]=備份
Name=Back Up
Exec=deja-dup --backup
