[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
#Categories=Utility;
Name[ru]=Free, использование памяти
GenericName[ru]=Информация о использовании памяти
Comment[ru]=в момент запуска команды
Name=Free
GenericName=Free
Comment=Free
Exec=alacritty --hold -e free
Icon=utilities-terminal
Terminal=false
