[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
#Categories=Utility;
Name[ru]=Iotop, использование диска
GenericName[ru]=Информация о использовании диска
Comment[ru]=Чтение и запись (требует sudo)
Name=Iotop
GenericName=Iotop
Comment=Iotop
Exec=alacritty --hold -e sudo iotop
Icon=utilities-terminal
Terminal=false
