[Desktop Entry]
Version=1.7.3 with PsUtil 1.2.1
Type=Application
Name=Glances
Comment=Мониторинг системных ресурсов в режиме реального времени 
Icon=/opt/.Glances/icons/glances-white-256.png
Exec=/opt/.Glances/glances.sh
NoDisplay=false
Categories=System;
StartupNotify=false
Terminal=true
