[Desktop Entry]
Version=1.0
Type=Link
Name=HexEd.it - ​​онлайн и офлайн редактирование шестнадцатеричного кода через браузер
Comment=
Icon=user-bookmarks
URL=https://hexed.it/
